# Configurações da aplicação
PROJECT_NAME="Vidya Sales API"
VERSION="1.0.0"
DEBUG=true
ENVIRONMENT=development

# Configurações do banco SQLite
DATABASE_URL="sqlite:///./sales.db"

# Configurações do MongoDB
MONGODB_URL="mongodb://localhost:27017"
MONGODB_DB_NAME="vidya_sales"